@mixin button() {
	text-transform: capitalize;
	color: white;
	font-size: 0.8rem;
	line-height: 2rem;
	min-width: 5em;
	padding: 0 1em;
	text-align: center;
	display: inline-block;
	background-color: #646464;
	@include border-radius(0.4em);
}
