@import 'compass/css3';

@import 'variables';

html {
	min-height: 100%;
	position: relative;
}

body {
	font: 0.9rem sans-serif;
	margin: 0;
}

a {
	color: $button-blue;
}

body > header {
	background-color: #a9ba9d;
	padding: 1rem;

	> a {
		text-decoration: none;
	}

	> a > h1 {
		margin: 0;
		color: white;
	}
}

body > footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: #999;
	font-size: 0.8rem;
	padding: 1rem 0;

	a {
		color: inherit;
	}

	> p {
		margin: 0 1rem;
		text-align: right;
	}
}

main {
	margin-bottom: 6rem;
}

main > header,
main > article > header {
	background-color: #333;
	padding: 0.8rem 1rem;

	> h1 {
		margin: 0;
		color: #999;
		font-weight: normal;
		font-size: 1.1rem;
		text-transform: uppercase;
	}
}

main.nodes > header.node,
main.node > header.node,
article.node > header.node {
	text-align: right;

	h1 {
		float: left;
	}
}

header.node > nav.crud {
	> ul,
	> ul > li {
		display: inline;
		margin: 0;
		padding: 0;
	}

	> ul > li > a {
		text-transform: uppercase;
		color: white;
		font-size: 0.7rem;
		font-weight: bold;
		line-height: 1.6rem;
		min-width: 4rem;
		text-align: center;
		display: inline-block;
		@include border-radius(0.2em);
	}

	> ul > li + li {
		margin-left: 0.4rem;
	}

	> ul > li > a.new {
		background-color: $button-blue;
	}

	> ul > li > a.edit {
		background-color: $button-red;
	}

	> ul > li > a.new,
	> ul > li > a.edit {
		text-decoration: none;
	}
}

main.node.new > header.node > nav.crud {
	> ul > li.new {
		display: none;
	}
}

article.node > dl.node-properties {
	margin: 1rem;

	> dt {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		padding-bottom: 0.4em;
	}

	> dd {
		margin: 1em 0;
		max-width: $max-reading-width;

		> div.format-long {
			white-space: pre-line;
		}
	}

	> dd + dt {
		margin-top: 2em;
	}
}

dd.multivalue > ul.multivalue {
	padding: 0;
	list-style: none;

	> li {
		background-color: #ddd;
		display: inline-block;
		padding: 0.2em 0.4em;
		font-size: 0.8em;
	}
}

dd.type-image > img,
form.node > img {
	max-height: 10rem;
	width: auto;
}

main > nav.nodes {
	margin: 1rem;

	> ul {
		padding-left: 1rem;
	}

	> ul > li + li {
		margin-top: 1em;
	}
}

form.node {
	margin: 1rem;

	> label {
		display: block;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		padding-bottom: 0.4em;
		margin: 2rem 0 1rem 0;
	}

	> hr {
		border-width: 1px;
		border-style: solid none none none;
		border-color: #eee;
		margin: 1rem 0;
	}
}

form.node > img {
	vertical-align: middle;
}

form.node.delete {
	> input[type=submit] {
		background-color: $button-red;
	}
}

form.node.update {
	margin-bottom: 0;
}

form.node.update + form.node.delete {
	margin: 0 inherit;
}

form.node.update,
form.node.update + form.node.delete {
	> input[type=submit] {
		vertical-align: middle;
	}
}

form.node.update + form.node.delete {
	> input[type=submit] {
		margin-right: 1rem;
	}
}

form.node.update,
form.node.update + form.node.delete,
form.node.create {
	> input[type=submit] {
		float: right;
		margin-bottom: 6rem;
	}
}

input[type=submit] {
	-webkit-appearance: none;
	border: none;
	text-transform: uppercase;
	color: white;
	font-size: 0.7rem;
	font-weight: bold;
	line-height: 1.6rem;
	min-width: 6rem;
	text-align: center;
	display: block;
	cursor: pointer;
	background-color: $button-blue;
	@include border-radius(0.2em);
}

textarea {
	width: 100%;
	min-height: 10em;
	max-width: $max-reading-width;
	@include box-sizing(border-box);
}

input[type=text],
input:not([type]),
textarea {
	font: 0.9rem sans-serif;
	padding: 0.4em;
	border: 1px solid #eee;
	@include border-radius(0.2em);
}

select {
	font: 0.9rem sans-serif;
}

p.error {
	color: $button-red;
}
