@import '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css';
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
}

a {
  color: #4679bd;
  text-decoration: none;
}
a img {
  border: none;
}

body,
button,
input,
textarea,
select {
  text-rendering: optimizeLegibility;
  font: 100 0.9rem Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

body > header {
  background-color: #4679bd;
  padding: 1rem;
}
body > header > a > h1 {
  margin: 0;
  color: white;
  font-weight: 100;
}

body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #999;
  font-size: 0.8rem;
  padding: 1rem 0;
}
body > footer a {
  color: #ccc;
  text-decoration: none;
}
body > footer > p {
  margin: 0 1rem;
  text-align: right;
}

main > .body,
main > article > .body {
  margin: 2em 0 6rem 0;
  padding: 0 1em;
}
main > footer,
main > article > footer {
  margin: 2em 0;
  padding: 0 1em;
}

main > header,
main > article > header {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.8rem 1rem;
}
main > header > h1,
main > article > header > h1 {
  margin: 0;
  color: #999;
  font-size: 1.1rem;
}

main.collection > header.object,
main.object > header.object,
article.object > header.object {
  text-align: right;
}
main.collection > header.object h1,
main.object > header.object h1,
article.object > header.object h1 {
  float: left;
  line-height: 2rem;
}

header.object > nav.crud > ul,
header.object > nav.crud > ul > li {
  display: inline;
  margin: 0;
  padding: 0;
}
header.object > nav.crud > ul > li + li {
  margin-left: 0.4rem;
}
header.object > nav.crud > ul > li.view {
  display: none;
}

main.collection header.object > nav.crud > ul > li.collection {
  display: none;
}

main.object.new header.object > nav.crud > ul > li.new {
  display: none;
}

main.object.edit header.object > nav.crud > ul > li.edit {
  display: none;
}
main.object.edit header.object > nav.crud > ul > li.view {
  display: inherit;
}

dl.object-properties {
  margin: 0;
}
dl.object-properties > dt {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4em;
}
dl.object-properties > dd {
  margin: 1em 0;
  max-width: 40rem;
}
dl.object-properties > dd > div.format-long {
  white-space: pre-line;
}
dl.object-properties > dd + dt {
  margin-top: 2em;
}

ul.multivalue {
  padding: 0;
  list-style: none;
}
ul.multivalue > li {
  margin: 0.6em 0;
}

dd.multivalue > ul.multivalue > li {
  background-color: #ddd;
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
}

dd.type-image img,
form.object img {
  max-height: 10rem;
  max-width: 10rem;
  width: auto;
  height: auto;
}

form.object img + input[type=checkbox] {
  vertical-align: top;
}

dd.type-image.multivalue > ul.multivalue > li {
  padding: 0;
  background: white;
}
dd.type-image.multivalue > ul.multivalue > li > a > img {
  display: block;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

nav.collection > ul {
  padding: 0;
  list-style: none;
}
nav.collection > ul > li {
  margin: 1em 0;
}
nav.collection > ul > li.object > a:before {
  font-family: FontAwesome;
  content: "\f144";
  margin-right: 0.8em;
}

form.object > label {
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4em;
  margin-bottom: 1rem;
}
form.object > label ~ label {
  margin-top: 2rem;
}
form.object > hr {
  border-width: 1px;
  border-style: solid none none none;
  border-color: #eee;
  margin: 1rem 0;
}
form.object > img {
  vertical-align: middle;
}

form.object.delete > input[type=submit] {
  background-color: #d9534f;
}

form.object.update {
  margin-bottom: 0;
}

form.object.update + form.object.delete {
  margin: 0 inherit;
}

form.object.update > input[type=submit],
form.object.update + form.object.delete > input[type=submit] {
  vertical-align: middle;
}

form.object.update + form.object.delete > input[type=submit] {
  margin-right: 1rem;
}

form.object.update > input[type=submit],
form.object.update + form.object.delete > input[type=submit],
form.object.create > input[type=submit] {
  float: right;
}

input[type=submit] {
  -webkit-appearance: none;
  border: none;
  text-transform: capitalize;
  color: white;
  font-size: 0.8rem;
  line-height: 2rem;
  min-width: 6rem;
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #4679bd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

textarea {
  width: 100%;
  min-height: 10em;
  max-width: 40rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text],
input[type=url],
input:not([type]),
textarea {
  padding: 0.4em;
  border: 1px solid #eee;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}

p.error {
  color: #d9534f;
}

article.node > .body,
article.node > footer.node {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.node > .body {
  float: left;
  width: 70%;
}
article.node > footer.node {
  float: right;
  width: 30%;
}

article.node > footer.node > section.edges > h1 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
article.node > footer.node > section.edges > h2 {
  font-size: 0.9rem;
}

main.home p.intro {
  font-size: 2em;
}

a.button {
  text-transform: capitalize;
  color: white;
  font-size: 0.8rem;
  line-height: 2rem;
  min-width: 5em;
  padding: 0 1em;
  text-align: center;
  display: inline-block;
  background-color: #646464;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
}

a.button:before {
  font: 1.2em FontAwesome;
  margin-right: 0.6em;
  vertical-align: text-top;
}

a.button.new {
  background-color: #4679bd;
}

a.button.new:before {
  content: '\f196';
}

a.button.edit {
  background-color: #d9534f;
}

a.button.edit:before {
  content: '\f044';
}
