html {
  min-height: 100%;
  position: relative;
}

body {
  font: 0.9rem sans-serif;
  margin: 0;
}

a {
  color: #428bca;
}

body > header {
  background-color: #a9ba9d;
  padding: 1rem;
}
body > header > a {
  text-decoration: none;
}
body > header > a > h1 {
  margin: 0;
  color: white;
}

body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #999;
  font-size: 0.8rem;
  padding: 1rem 0;
}
body > footer a {
  color: #ccc;
  text-decoration: none;
}
body > footer > p {
  margin: 0 1rem;
  text-align: right;
}

main {
  margin-bottom: 6rem;
}
main > .body,
main > article > .body {
  margin: 1em;
}

main > header,
main > article > header {
  background-color: #333;
  padding: 0.8rem 1rem;
}
main > header > h1,
main > article > header > h1 {
  margin: 0;
  color: #999;
  font-weight: normal;
  font-size: 1.1rem;
  text-transform: uppercase;
}

main.collection > header.object,
main.object > header.object,
article.object > header.object {
  text-align: right;
}
main.collection > header.object h1,
main.object > header.object h1,
article.object > header.object h1 {
  float: left;
}

header.object > nav.crud > ul,
header.object > nav.crud > ul > li {
  display: inline;
  margin: 0;
  padding: 0;
}
header.object > nav.crud > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.6rem;
  min-width: 5rem;
  text-align: center;
  display: inline-block;
  background-color: #646464;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}
header.object > nav.crud > ul > li + li {
  margin-left: 0.4rem;
}
header.object > nav.crud > ul > li > a.new {
  background-color: #428bca;
}
header.object > nav.crud > ul > li > a.edit {
  background-color: #d9534f;
}
header.object > nav.crud > ul > li.view {
  display: none;
}

main.object.new header.object > nav.crud > ul > li.new {
  display: none;
}

main.object.edit header.object > nav.crud > ul > li.edit {
  display: none;
}
main.object.edit header.object > nav.crud > ul > li.view {
  display: inherit;
}

dl.object-properties > dt {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4em;
}
dl.object-properties > dd {
  margin: 1em 0;
  max-width: 40rem;
}
dl.object-properties > dd > div.format-long {
  white-space: pre-line;
}
dl.object-properties > dd + dt {
  margin-top: 2em;
}

dd.multivalue > ul.multivalue {
  padding: 0;
  list-style: none;
}
dd.multivalue > ul.multivalue > li {
  background-color: #ddd;
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
}

dd.type-image > img,
form.object > img {
  max-height: 10rem;
  width: auto;
}

main > nav.collect > ul {
  padding-left: 1rem;
}
main > nav.collect > ul > li + li {
  margin-top: 1em;
}

form.object > label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.4em;
  margin: 2rem 0 1rem 0;
}
form.object > hr {
  border-width: 1px;
  border-style: solid none none none;
  border-color: #eee;
  margin: 1rem 0;
}

form.object > img {
  vertical-align: middle;
}

form.object.delete > input[type=submit] {
  background-color: #d9534f;
}

form.object.update {
  margin-bottom: 0;
}

form.object.update + form.object.delete {
  margin: 0 inherit;
}

form.object.update > input[type=submit],
form.object.update + form.object.delete > input[type=submit] {
  vertical-align: middle;
}

form.object.update + form.object.delete > input[type=submit] {
  margin-right: 1rem;
}

form.object.update > input[type=submit],
form.object.update + form.object.delete > input[type=submit],
form.object.create > input[type=submit] {
  float: right;
  margin-bottom: 6rem;
}

input[type=submit] {
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.6rem;
  min-width: 6rem;
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #428bca;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}

textarea {
  width: 100%;
  min-height: 10em;
  max-width: 40rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text],
input:not([type]),
textarea {
  font: 0.9rem sans-serif;
  padding: 0.4em;
  border: 1px solid #eee;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
}

select {
  font: 0.9rem sans-serif;
}

p.error {
  color: #d9534f;
}
